# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import requests
import gmaps
import os
import sys

sys.path.insert(0, "/Users/ianmacmoore/Desktop/ClassHomework/keys")

# Import API key
from api_keys import g_key
g_key

'AIzaSyD9XkNOKVvigSy1J4ys528AlzIgeXXXx0g'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_weather_df = pd.read_csv("./city_weather.csv")
city_weather_df.head()

,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date,City
0,-21.20,-175.20,26.00,78.0,75.0,1.50,TO,1.586984e+09,vaini
1,19.73,-155.09,27.00,54.0,20.0,4.10,US,1.586984e+09,hilo
2,-20.52,57.52,26.00,83.0,40.0,7.20,MU,1.586984e+09,souillac
3,-23.12,-134.97,24.64,72.0,99.0,2.06,PF,1.586984e+09,rikitea
4,54.31,34.52,1.83,88.0,100.0,4.99,RU,1.586984e+09,baryatino

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
locations = city_weather_df[["Lat", "Lng"]]
locations

       Lat     Lng
0   -21.20 -175.20
1    19.73 -155.09
2   -20.52   57.52
3   -23.12 -134.97
4    54.31   34.52
..     ...     ...
549   5.40   26.49
550  36.25   37.50
551  41.16   27.80
552  53.00 -122.50
553  32.77   22.64

[554 rows x 2 columns]

In [4]:
weight = city_weather_df['Humidity']

# Plot Heatmap
fig = gmaps.figure(center=(51.5, -0.1), zoom_level=2)

In [5]:

heat_layer = gmaps.heatmap_layer(locations,weights=weight,dissipating=True, max_intensity=100, point_radius=10)
fig.add_layer(heat_layer)


#markers = gmaps.marker_layer(locations)
#fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
#A max temperature lower than 26 degrees C but higher than 19.
#Wind speed less than 10 mph, ~5m/s.
#Zero cloudiness.
#Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

#Note: Feel free to adjust to your specifications but be sure to limit 
#the number of rows returned by your API requests to a reasonable number.

ideal_cities_df = city_weather_df.loc[(city_weather_df['Max_Temp']>19) & 
                                      (city_weather_df['Max_Temp']<26) & 
                                      (city_weather_df['Wind_Speed']<5) &
                                      (city_weather_df['Cloudiness']==0)
                                       ]
ideal_cities_df

,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date,City
98,24.09,32.91,22.15,29.0,0.0,3.08,EG,1.586984e+09,aswan
144,17.49,44.13,24.00,57.0,0.0,2.10,SA,1.586983e+09,najran
190,-13.85,136.42,22.00,100.0,0.0,2.84,AU,1.586984e+09,alyangula
200,-14.80,36.54,20.53,73.0,0.0,0.76,MZ,1.586984e+09,cuamba
233,-20.73,139.50,21.00,43.0,0.0,2.60,AU,1.586984e+09,mount isa
303,-18.37,26.50,22.80,44.0,0.0,0.34,ZW,1.586984e+09,hwange
366,30.48,-115.95,20.79,49.0,0.0,4.96,MX,1.586984e+09,san quintin
382,-21.34,55.48,24.00,69.0,0.0,3.10,RE,1.586984e+09,saint-pierre
519,-18.53,25.63,21.34,38.0,0.0,1.40,BW,1.586984e+09,pandamatenga

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = ideal_cities_df
hotel_df['Hotel Name']=""
hotel_df.reset_index(inplace=True)
hotel_df

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date,City,Hotel Name
0,98,24.09,32.91,22.15,29.0,0.0,3.08,EG,1.586984e+09,aswan,
1,144,17.49,44.13,24.00,57.0,0.0,2.10,SA,1.586983e+09,najran,
2,190,-13.85,136.42,22.00,100.0,0.0,2.84,AU,1.586984e+09,alyangula,
3,200,-14.80,36.54,20.53,73.0,0.0,0.76,MZ,1.586984e+09,cuamba,
4,233,-20.73,139.50,21.00,43.0,0.0,2.60,AU,1.586984e+09,mount isa,
5,303,-18.37,26.50,22.80,44.0,0.0,0.34,ZW,1.586984e+09,hwange,
6,366,30.48,-115.95,20.79,49.0,0.0,4.96,MX,1.586984e+09,san quintin,
7,382,-21.34,55.48,24.00,69.0,0.0,3.10,RE,1.586984e+09,saint-pierre,
8,519,-18.53,25.63,21.34,38.0,0.0,1.40,BW,1.586984e+09,pandamatenga,

In [8]:
target_city = "Seattle, Washington"
searchRadius = 5000
lat = ""
lng = ""
location = ""
keyword = "hotel"


#Get working for one
# Build URL using the Google Maps API
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
lat = hotel_df.loc[0,'Lat']
lng = hotel_df.loc[0,'Lng']
location = f"{lat},{lng}"
print(f"lat {lat} lng {lng} Location 0: {location} ")
params = {
    'location': location, 
    'key': g_key,
    'radius': searchRadius,
    'keyword':keyword
}
# Run request
result = requests.get(base_url, params=params)
print(result)

lat 24.09 lng 32.91 Location 0: 24.09,32.91
<Response [200]>

In [9]:
result_json = result.json()
#print(json.dumps(result_json, indent=4))
first_result = result_json['results'][0]['name']
hotel_df['Hotel Name'][0] = first_result
hotel_df

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

,index,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date,City,Hotel Name
0,98,24.09,32.91,22.15,29.0,0.0,3.08,EG,1.586984e+09,aswan,Hotel Sofitel Legend Old Cataract Aswan
1,144,17.49,44.13,24.00,57.0,0.0,2.10,SA,1.586983e+09,najran,
2,190,-13.85,136.42,22.00,100.0,0.0,2.84,AU,1.586984e+09,alyangula,
3,200,-14.80,36.54,20.53,73.0,0.0,0.76,MZ,1.586984e+09,cuamba,
4,233,-20.73,139.50,21.00,43.0,0.0,2.60,AU,1.586984e+09,mount isa,
5,303,-18.37,26.50,22.80,44.0,0.0,0.34,ZW,1.586984e+09,hwange,
6,366,30.48,-115.95,20.79,49.0,0.0,4.96,MX,1.586984e+09,san quintin,
7,382,-21.34,55.48,24.00,69.0,0.0,3.10,RE,1.586984e+09,saint-pierre,
8,519,-18.53,25.63,21.34,38.0,0.0,1.40,BW,1.586984e+09,pandamatenga,

In [10]:
#Build iterrows for to loop through df
# Use the lat/lng we recovered to identify hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    first_hotel = requests.get(base_url, params=params)
    
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#    print(first_hotel.url)

    # convert to json
    first_hotel = first_hotel.json()
#    print(json.dumps(first_hotel, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = first_hotel["results"][0]["name"]
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Missing field/result... skipping.

In [11]:
hotel_df

,index,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date,City,Hotel Name
0,98,24.09,32.91,22.15,29.0,0.0,3.08,EG,1.586984e+09,aswan,Hotel Sofitel Legend Old Cataract Aswan
1,144,17.49,44.13,24.00,57.0,0.0,2.10,SA,1.586983e+09,najran,
2,190,-13.85,136.42,22.00,100.0,0.0,2.84,AU,1.586984e+09,alyangula,Groote Eylandt Lodge
3,200,-14.80,36.54,20.53,73.0,0.0,0.76,MZ,1.586984e+09,cuamba,Villa Verde
4,233,-20.73,139.50,21.00,43.0,0.0,2.60,AU,1.586984e+09,mount isa,Abacus Motel
5,303,-18.37,26.50,22.80,44.0,0.0,0.34,ZW,1.586984e+09,hwange,Baobab Hotel
6,366,30.48,-115.95,20.79,49.0,0.0,4.96,MX,1.586984e+09,san quintin,Don Eddie's Landing
7,382,-21.34,55.48,24.00,69.0,0.0,3.10,RE,1.586984e+09,saint-pierre,LODGE PALMAE
8,519,-18.53,25.63,21.34,38.0,0.0,1.40,BW,1.586984e+09,pandamatenga,Touch of Africa Safari Lodge

In [17]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_infobox = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
print(hotel_infobox)
locations = hotel_df[["Lat", "Lng"]]
locations

['\n<dl>\n<dt>Name</dt><dd>Hotel Sofitel Legend Old Cataract Aswan</dd>\n<dt>City</dt><dd>aswan</dd>\n<dt>Country</dt><dd>EG</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>najran</dd>\n<dt>Country</dt><dd>SA</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Groote Eylandt Lodge</dd>\n<dt>City</dt><dd>alyangula</dd>\n<dt>Country</dt><dd>AU</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Villa Verde</dd>\n<dt>City</dt><dd>cuamba</dd>\n<dt>Country</dt><dd>MZ</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Abacus Motel</dd>\n<dt>City</dt><dd>mount isa</dd>\n<dt>Country</dt><dd>AU</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Baobab Hotel</dd>\n<dt>City</dt><dd>hwange</dd>\n<dt>Country</dt><dd>ZW</dd>\n</dl>\n', "\n<dl>\n<dt>Name</dt><dd>Don Eddie's Landing</dd>\n<dt>City</dt><dd>san quintin</dd>\n<dt>Country</dt><dd>MX</dd>\n</dl>\n", '\n<dl>\n<dt>Name</dt><dd>LODGE PALMAE</dd>\n<dt>City</dt><dd>saint-pierre</dd>\n<dt>Country</dt><dd>RE</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Touch of Africa Safari Lodge</dd>\n<dt>City</dt><dd>pandamatenga</dd>\n<dt>Country</dt><dd>BW</dd>\n</dl>\n']

     Lat     Lng
0  24.09   32.91
1  17.49   44.13
2 -13.85  136.42
3 -14.80   36.54
4 -20.73  139.50
5 -18.37   26.50
6  30.48 -115.95
7 -21.34   55.48
8 -18.53   25.63

In [18]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_infobox)

fig.add_layer(marker_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))